registry=https://nexus-gcj.apps.crp-gate.ec1.aws.aztec.azcs.io/repository/npm-public/
email=gdf-npm-read@allianz.com
always-auth=true
@uberfusion007:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=aa82c0f91c96d60a7d6dcf04f4f6d9626c7be00e
//nexus-gcj.apps.crp-gate.ec1.aws.aztec.azcs.io/repository/npm-public/:_auth="Z2RmLW5wbS1yZWFkOmdkZg=="
