.card {
    min-height: 430px;
    min-width: 300px;
    max-height: 420px;
    max-width: 300px;
    text-align: center;
  }
  
  .image {
    min-height: 200px;
    min-width: 240px;
    max-height: 200px;
    max-width: 240px;
  }