<app-nav-bar [currentIndex]="0"></app-nav-bar>

<nx-page-search nxButtonLabel="Search" (nxButtonClick)="search()">
  <div nxRow>
    <div nxCol="12">
      <nx-formfield>
        <input nxInput placeholder="Search Movies" [(ngModel)]="searchTerm" />

        <span *ngIf="searchTerm" aria-hidden="false" (click)="searchTerm = ''">
          <nx-icon name="close" size="s"></nx-icon>
        </span>
      </nx-formfield>
    </div>
  </div>

  <div *ngIf="searchTerm">
    <nx-formfield nxLabel="Movies Year" style="margin-top: 10px">
      <input nxInput placeholder="Movies Year" [(ngModel)]="searchYear" />

      <span *ngIf="searchYear" aria-hidden="false" (click)="searchYear = ''">
        <nx-icon name="close" size="s"></nx-icon>
      </span>
    </nx-formfield>
  </div>
  <div *ngIf="searchTerm">
    <nx-formfield nxLabel="Movies Type" style="margin-top: 10px">
      <nx-dropdown [(ngModel)]="searchType">
        <nx-dropdown-item nxValue="Movie"></nx-dropdown-item>
        <nx-dropdown-item nxValue="Series"></nx-dropdown-item>
        <nx-dropdown-item nxValue="Episode"></nx-dropdown-item>
      </nx-dropdown>
    </nx-formfield>
  </div>
</nx-page-search>

<app-movie-list *ngIf="searchMovies" [movies]="searchMovies" [currentIndex]="0">
</app-movie-list>
