<div
  *ngFor="let movie of movies"
  class="card"
  style="margin: 0 auto; margin-top: 20px"
>
  <nx-card highlight class="card">
    <div nxHighlightHeader>Title :<br />{{ movie.Title }}</div>
    <nx-card-header> Released Year : {{ movie.Year }} </nx-card-header>
    <p>Type : {{ movie.Type }}</p>
    <p>Description : {{ movie.Description }}</p>
    <img [src]="movie.Poster" class="image" style="margin-bottom: 5px" />

    <div *ngIf="currentIndex === 0">
      <button
        (click)="openFromTemplate(movie)"
        nxButton="primary small"
        type="button"
      >
        Add to Favorites
      </button>
    </div>

    <div *ngIf="currentIndex === 1">
      <button
        nxButton="primary small"
        (click)="deleteFavoriteMovie(movie)"
        style="margin-right: 5px"
      >
        Delete
      </button>
      <button
        (click)="openFromTemplate(movie)"
        nxButton="primary small"
        type="button"
        style="margin-left: 5px"
      >
        Edit
      </button>
    </div>
  </nx-card>
</div>

<ng-template #addFavoriteModal>
  <div class="u-text-center">
    <h3 nxHeadline="subsection-medium" class="nx-modal-margin-bottom">
      Enter a description for the movie.
    </h3>

    <nx-formfield nxLabel="Movie Description">
      <input nxInput [(ngModel)]="addDescription" />
    </nx-formfield>
    <div>
      <button
        nxButton="primary small"
        type="button"
        style="margin-right: 5px"
        (click)="addEditFavoriteMovie(addDescription)"
      >
        save
      </button>
      <button
        nxButton="primary small"
        type="button"
        style="margin-left: 5px"
        (click)="closeModal()"
      >
        cancel
      </button>
    </div>
  </div>
</ng-template>

<nx-modal
  (nxClose)="showAddfavoriteModal = false"
  [nxBody]="addFavoriteModal"
  [nxShowCloseIcon]="false"
  [nxHideOnEsc]="false"
  [nxHideOnClickOutside]="false"
  *ngIf="showAddfavoriteModal"
>
</nx-modal>
